/*Le font display permet de charger une première police en attendant la personnalisée.*/
@font-face {
    font-family: "Game Of Squids";
    src: url(./font/Game\ Of\ Squids.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Denton";
    src: url("./font/DentonBETA2.ttf");
    font-display: swap;
}
.navbar-brand {
    text-shadow: 2px 2px 5px red;
}
.nav-link {
    text-shadow: 2px 2px 5px red;
}
body {
    background-image: url("./image/zgwjpZ0kseQCT7g00rRL--14--dpfsk.webp");
    background-size: cover;
}

h1{
    color: #f1f1cb !important; 
    font-family: "Game Of Squids", sans-serif;
    font-size: 10vw !important;
    text-shadow:
    
  0.1vw 0vw 25vw #ff7474,
  0.125vw 0vw 25vw #ff7474,

  0.1vw 0vw 0.1vw #ff3131,
  0.125vw 0vw 0.1vw #ff3131,
  0.15vw 0vw 0.1vw #ff3131,

  0.1vw 0vw 2vw #ff3131,
  0.125vw 0vw 2vw #ff3131,
  0.15vw 0vw 2vw #ff3131,
  
  0.1vw 0vw 1vw #fb0404,
  0.125vw 0vw 1vw #fb0404,
  0.15vw 0vw 5vw #fb0404,
  
  0.1vw 0vw 5vw #fb0404,
  0.125vw 0vw 20vw #fb0404,
  0.15vw 0vw 1vw #fb0404;
}

.logo {
    top:25%;
    left: 35%;
    scale: 120%;
    filter:
    drop-shadow(0.10vw 0.50vw 0.100vw rgb(235, 93, 12))
    drop-shadow(0.10vw 0.50vw 0.100vw rgb(255, 217, 0));


}
footer {
    background-color: #011627;
}
h3{
    color: #f1f1cb !important; 
    font-family: "Denton", sans-serif;
    text-shadow:

    0.1vw 0vw 25vw #859bfc,
    0.125vw 0vw 25vw #859bfc,
  
    0.1vw 0vw 0.1vw #3157ff,
    0.125vw 0vw 0.1vw #3157ff,
    0.15vw 0vw 0.1vw #3157ff,
  
    0.1vw 0vw 2vw #4b6cff,
    0.125vw 0vw 2vw #4b6cff,
    0.15vw 0vw 2vw #4b6cff,
    
    0.1vw 0vw 1vw #002fff,
    0.125vw 0vw 1vw #002fff,
    0.15vw 0vw 5vw #002fff,
    
    0.1vw 0vw 5vw #002fff,
    0.125vw 0vw 20vw #002fff,
    0.15vw 0vw 1vw #002fff;
}
.logo\ img-fluid{
    height: auto;
    width: 100%;
}
  .emblemteam h2 {
    text-align: center;
    color: #fff;
    font-size: 4vw;
    letter-spacing: 8px;
    font-weight: 400;
    padding-left: 10%;
    padding-bottom: 10%;
    /*Create overlap*/
    
    margin-bottom: 5%;
    line-height: 0;
    position: absolute;
    /*Animation*/
    
    animation: glitch1 2.5s infinite;
  }
  
  .emblemteam h2:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
  
  .emblemteam h2:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }